*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("./img/i.jpg") ;
    height: 100%;
    width: 100%;
}
.login-container{
    position: absolute;
    width: 350px;
    height: 500px;
    top: 15%;
    left: 40%;
    border-radius: 20px;
background-color: #92B4A7;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.login-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.login-container p{
    font-size: 25px;
    font-weight: 600;
    color: white;
    letter-spacing: 5px;
}
.login-container .fields .data {
  border-radius: 20px ;
  box-shadow: inset 5px 5px 5px #667A7A,
inset  -5x -8px #7C888D;
}
.login-container .fields .data  i{
    color: whitesmoke;
    margin: 20px 5px 20px 20px;
}
.login-container .fields .data input {
   outline: none;
border: none;
background: none;
font-size: 20px;
margin: 20px 20px;
border: 5px solid white;
border-radius: 10px;
margin-top: -12px;
}
select{
    outline: none;
        border: none;
        background: none;
        font-size: 20px;
            margin: 20px 40px;
            width: 200px;
            right: 1000px; 
            background-color: #92B4A7;
            color: white;
            border: 5px solid white;
                border-radius: 10px;
            

}
button{
    background-color: #A68A77;
    height: 35px;
    width: 150px;
    font-size: 25px;
    font-family: Cursive;
    border-radius: 10px;
color: whitesmoke;
margin-top: 25px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
        font-family: Cursive;
        margin-top: -15px;
}

select:focus{
    background-color: #92B4A7;
    outline: none;
}