*{
    padding: 0%;
}
.l{
    width: 600px;
    height: 750px;
    
    margin-top: 30px;
margin-left: 25%;
}
.k{
    height: 450px;
    height: 590px;
    border: 20px solid black;
    border-radius: 10px;
}
.n{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: -80px;
}
.j{
    width: 390px;
    border: 5px solid black;
margin-left: 15%;
margin-top: -10%;
}
.h{
    color: black;
    font-size: 20px;
margin-right:300px;
}
input{
    height: 25px;
    width: 200px;
    border: 1px solid black;
    box-shadow:0 0 10px black;
    margin-top: -50px;
}
.o{
    height: 40px;
    width: 250px;
    border: 3px solid black;
    box-shadow: 0 0 10px black;
    margin-left: 15%;
    border-radius: 15px;
}.tri{
    width: 0px;
    height: 0px;
    border-bottom: 20px solid black;
    border-left: 10px solid transparent;
    border-right:  10px solid transparent;
    margin-left: 200px;
transform: rotate(180deg);
margin-top: 10px;}
.dropdown {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    padding-left: 10px;
    font-size: 16px;
    appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}
.ma{
    color: black;
    font-size: 20px;
  margin-right: 150px;
}
input{
width: 250px;
    height: 40px;
    border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-left: 100px;
}
button {
    height: 50px;
    width: 200Px;
 margin-top: 10px;
    background-color:rgb(57, 170, 26);
    border: 3px ;
    border-radius: 10px;
    font-size: 40px;
color: white;
margin-left: 100px;
}
.po{
    width: 50px;
    height: 50px;
    color: black;
    font-size: 30px;
    padding-left: 110px;
}
.mi{
        width: 200px;
        height: 50px;
        color: black;
        font-size: 30px;
        padding-left: 110px;
        margin-top: 30px;
    }