.login-container {
  margin: 0 auto;
  width: 600px;
  height: 650px;
  border-radius: 20px;
  background-color: #92B4A7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 5%;
}

.login-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.login-container p {
  font-size: 75px;
  font-weight: 600;
  color: white;
  letter-spacing: 5px;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-container .fields .data {
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px #667A7A,
    inset -5x -8px #7C888D;
}

.login-container .fields .data i {
  color: green;
  margin: 20px 5px 20px 20px;
}

.login-container .fields .data input {
  outline: none;
  border: none;
  background: none;
  font-size: 30px;
  margin: 20px 20px;
  border: 5px solid white;
  border-radius: 10px;
  margin-top: -12px;
}

.login__title{
  font-size: 30px;
  color: white;
}
.login__link{
  font-size:40px;
}



select {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  margin: 20px 40px;
  width: 200px;
  right: 1000px;
  background-color: #92B4A7;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
}

/* button {
  background-color: #A68A77;
  height: 55px;
  width: 250px;
  font-size: 25px;
  font-family: Cursive;
  border-radius: 10px;
  color: whitesmoke;
  margin-top: 25px;
} */

.form__actions{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-button {
  background-color: #6ADCAF;
  width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 45px;
  font-family: Cursive;
  margin-top: -px;
}

select:focus {
  background-color: #92B4A7;
  outline: none;
}

.nu {
  color: white;
  height: 30px;
  width: 50px;
}
.form-control{
    background-color: #92B4A7;
    border: 5px solid white;
}

/*

.login-container {
  position: absolute;
  width: 600px;
  height: 680px;
  top: 15%;
  left: 40%;
  border-radius: 20px;
  background-color: #92B4A7;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-container img {
  width: 200px;
  height:200px;
  border-radius: 50%;
}

.login-container p {
  font-size: 75px;
  font-weight: 600;
  color: white;
  letter-spacing: 5px;
}

.login-container .fields .data {
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px #667A7A,
    inset -5x -8px #7C888D;
}

.login-container .fields .data i {
  color:green;
  margin: 20px 5px 20px 20px;
}

.login-container .fields .data input {
  outline: none;
  border: none;
  background: none;
  font-size: 30px;
  margin: 20px 20px;
  border: 5px solid white;
  border-radius: 10px;
  margin-top: -12px;
  font-family: Cursive;
}

select {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  margin: 20px 40px;
  width: 200px;
  right: 1000px;
  background-color: #92B4A7;
  color: white;
  border: 5px solid white;
  border-radius: 10px;


}

button {
  background-color: #A68A77;
  height: 55px;
  width: 250px;
  font-size: 25px;
  font-family: Cursive;
  border-radius: 10px;
  color: whitesmoke;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Cursive;

}

select:focus {
  background-color: #92B4A7;
  outline: none;
  font-family: Cursive;
}
.nu{
  color: white;
  height: 30px;
  width: 30px;
  font-family: Cursive;
}
.gu{
  margin-left: 70px;
  font-size: 5px;
  font-family: Cursive;
}
.login{
  width: 550px;
  height: 150px;
  font-size: 0.5px;
  display:flex;
}

.form-actions{
  margin-left: 30%;
}

*/