* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.con {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 15%;
    left: 40%;
    border-radius: 20px;
    background-color: #92B4A7;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.con img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.con p {
    font-size: 45px;
    font-weight: 600;
    color: white;
    letter-spacing: 5px;
}

.con .fields .data {
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px #667A7A,
        inset -5x -8px #7C888D;
}

.con .fields .data i {
    color: green;
    margin: 20px 5px 20px 20px;
}

.con .fields .data input {
    outline: none;
    border: none;
    background: none;
    font-size: 30px;
    margin: 20px 20px;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: -12px;
}

select {
    outline: none;
    border: none;
    background: none;
    font-size: 35px;
    margin: 20px 40px;
    width: 400px;
    right: 1000px;
    background-color: #92B4A7;
    color: white;
    border: 5px solid white;
    border-radius: 10px;


}

button {
    background-color: #A68A77;
    height: 55px;
    width: 250px;
    font-size: 25px;
    font-family: Cursive;
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 45px;
    font-family: Cursive;
    margin-top: -px;
}

select:focus {
    background-color: #92B4A7;
    outline: none;
    font-size: 35px;
}

.nu {
    color: white;
    height: 30px;
    width: 30px;
}